.container {
  margin: 0 auto;
  max-width: 730px;
}

.center {
  text-align: center;
}

.counter-btns {
  margin-top: 20px;
}

.counter-btns button {
  margin: 0 4px;
}

.footer {
  margin-top: 16px;
  padding: 16px auto;
  text-align: center;
}
