<div class="header">
  <h3>Cell Counter</h3>
</div>
<a href="#" class="click-instructions">Click for instructions</a><p class="instructions" style="display: none">Left arrow key to increment left side. Right arrow key to increment right side. Down arrow key to decrement both sides. Spacebar to reset without recording. Enter key to reset and record.</p>
<a href="#" class="click-clear-data">Clear data</a>
<h2 class="counter"><span class="left">0</span>:<span class="right">0</span></h2>
<div class="records"></div>
<hr>
<div class="totals">
  <h3>Totals</h3>
  <span class="total-left">0</span>:<span class="total-right">0</span>
</div>
<div class="footer">&copy; 2014 Kelvin Wong</div>
